cluster.name: elasticsearch-demo
network.host: {{ ansible_default_ipv4.address }}
transport.host: 0.0.0.0
http.host: 0.0.0.0
path.data: /var/lib/elasticsearch
#
# Path to log files:
#
path.logs: /var/log/elasticsearch

xpack.security.enabled: false
http.port: 9200
